<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    {% if editor_version %}
    <title>{{title}} | Quest Editor v{{editor_version}}</title>
    {% else %}
    <title>PyQuest2 | Quest Editor</title>
    {% endif %}
    {% else %}
    <title>PyQuest2 | Quest Editor</title>
    {% endif %}
    <meta name="description" content="Node editor">
</head>
<body>
    <script src="{{ url_for('static', filename='node_modules/drawflow/dist/drawflow.min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/js/all.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/drawflow/dist/drawflow.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='node_modules/sweetalert2/dist/sweetalert2.all.min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/micromodal/dist/micromodal.min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/selectables/selectables.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/selectables/selectables.css')}}">
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <header>
        <nav>
            <!--      <script async src="https://telegram.org/js/telegram-widget.js?15" data-telegram-login="pyquest2_oauth_bot" data-size="medium" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>-->
            <!--      <script type="text/javascript">-->
            <!--        function onTelegramAuth(user) {-->
            <!--          alert('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');-->
            <!--        }-->
            <!--      </script>-->
        </nav>
        {% if title %}
        {% if editor_version %}
        <h2><i class="fas fa-pen-nib"></i> {{title}} | Quest Editor v{{editor_version}}</h2>
        {% else %}
        <h2><i class="fas fa-pen-nib"></i> PyQuest2 | Quest Editor</h2>
        {% endif %}
        {% else %}
        <h2><i class="fas fa-pen-nib"></i> PyQuest2 | Quest Editor</h2>
        {% endif %}
    </header>
    <div class="wrapper" id="wrapper">
        <div class="col">
            <!--      <div class="drag-drawflow start" draggable="true" ondragstart="drag(event)" data-node="start">-->
            <!--        <i class="fas fa-play-circle"></i><span> Начало</span>-->
            <!--      </div>-->
            <!--      <div class="drag-drawflow finish" draggable="true" ondragstart="drag(event)" data-node="finish">-->
            <!--        <i class="fas fa-stop-circle"></i><span> Конец</span>-->
            <!--      </div>-->
            <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="question_not_connected">
                <i class="fas fa-question-circle"></i><span> Вопрос</span>
            </div>
            <div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="answer_not_connected">
                <i class="fas fa-comment-dots"></i><span> Ответ</span>
            </div>
            <div class="drag-drawflow" draggable="false" ondragstart="" data-node="link">
                <i class="fas fa-link"></i><span> Переход</span>
            </div>

            <div class="hotkeys">
                <br><br>
                <i class="fas fa-trash-alt"></i><b> Delete</b> for remove selected<br>
                <i class="fas fa-mouse"></i> Mouse Left Click == Move<br>
                <i class="fas fa-times-circle"></i> Mouse Right == Delete Option<br>
                <i class="fas fa-search"></i> Ctrl + Wheel == Zoom<br><br>
                <i class="fas fa-mobile-alt"></i> Mobile support<br>
            </div>


        </div>
        <div class="col-right">
            <div class="menu">
                <ul>
                    {% if quest_name %}
                    <li onclick="editor.changeModule('{{quest_name}}'); changeModule(event);" class="selected">{{quest_name}}</li>
                    {% else %}
                    <li onclick="editor.changeModule('New Quest'); changeModule(event);" class="selected">New Quest</li>
                    {% endif %}
                    <!-- <li onclick="editor.changeModule('Other'); changeModule(event);">Other Module</li> -->
                </ul>
            </div>
            <div id="drawflow" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="btn-export" onclick="export_json()">Сохранить</div>
                <div class="btn-clear" onclick="editor_clear()">Очистить</div>
                <div class="btn-lock">
                    <i id="lock" class="fas fa-lock" onclick="editor.editor_mode='fixed'; changeMode('lock');"></i>
                    <i id="unlock" class="fas fa-lock-open" onclick="editor.editor_mode='edit'; changeMode('unlock');" style="display:none;"></i>
                </div>
                <div class="bar-zoom">
                    <div class="bar-zoom text" id="bar-zoom text">100%</div>
                    <i class="fas fa-search-minus" onclick="editor.zoom_out()"></i>
                    <i class="fas fa-search" onclick="editor.zoom_reset()"></i>
                    <i class="fas fa-search-plus" onclick="editor.zoom_in()"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="static/workflow.js" type="text/javascript"></script>
    <script src="static/multiselect.js" type="text/javascript"></script>

</body>
</html>
