.card {
    width: 500px;
    border: none;
    border-radius: 10px;
    background-color: #f2f5f8
}

.stats {
    background: #dce6ef !important;
    color: #000 !important
}

.articles {
    font-size: 15px;
    color: #a1aab9
}

.number1 {
    font-size: 22px;
    font-weight: 500;
}

.followers {
    font-size: 15px;
    color: #a1aab9
}

.number2 {
    font-size: 22px;
    font-weight: 500
}

.rating {
    font-size: 15px;
    color: #a1aab9
}

.number3 {
    font-size: 22px;
    font-weight: 500
}

.user_status {
    color: #a1aab9;
}

/* TABLES */
.table .thead-light th {
    background-color: #dce6ef;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f7fafd;
}

.bdr {border-radius: 6px;overflow:hidden;}

.table-row{
    cursor:pointer;
}
