<div class="d-flex flex-column mt-auto">
    <div class="bs-callout bs-callout-info bg-white">
        <h5>Управление</h5>
        <div class="container mt-3 px-0 hotkeys">
            <div class="row">
                <p class="pl-3 mb-0">Перетащите элемент из блока выше<br>на пустое пространство редактора,<br>чтобы создать новую ноду...</p>
            </div>
            <div class="row pt-4">
                <div class="col-1 pr-1 d-flex align-items-center justify-content-center">
                    <i class="fas fa-mouse"></i>
                </div>
                <div class="col pl-2">
                    <p class="mb-0"><b>Двойный клик</b> - смена типа ноды</p>
                </div>
            </div>
            <div class="row">
                <div class="col-1 pr-1 d-flex align-items-center justify-content-center">
                    <i class="fas fa-trash-alt"></i>
                </div>
                <div class="col pl-2">
                    <p class="mb-0"><b>Delete</b> - удалить ноду</p>
                </div>
            </div>
            <div class="row">
                <div class="col-1 pr-1 d-flex align-items-center justify-content-center">
                    <i class="fas fa-times-circle"></i>
                </div>
                <div class="col pl-2">
                    <p class="mb-0"><b>ПКМ</b> - удаление</p>
                </div>
            </div>
            <div class="row">
                <div class="col-1 pr-1 d-flex align-items-center justify-content-center">
                    <i class="fas fa-search"></i>
                </div>
                <div class="col pl-2">
                    <p class="mb-0"><b>Ctrl + Скролл</b> - масштаб</p>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-1 pr-1 d-flex align-items-center justify-content-center">
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div class="col pl-2">
                    <p class="mb-0">Поддержка телефонов</p>
                </div>
            </div>
        </div>
    </div>
</div>