<ul class="dropdown-menu col-xs-12 px-2 pt-2" style="width: 250px !important;">
    <li>
        <form>
          <div class="form-group w-100">
            <input type="email" class="form-control" id="openQuestSearchForm" aria-describedby="emailHelp" placeholder="Поиск">
                <a href=""><span class="badge badge-primary">опубликованные</span></a>
                <a href=""><span class="badge badge-warning">редактируемые</span></a>
          </div>
        </form>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li><small><a href="" class="dropdown-item pl-1 text-center bg-light dropdown-arrow disabled">&#x25B2;</a></small></li>
    <li><a class="dropdown-item pl-1" href="#">Квест 01</a></li>
    <li><a class="dropdown-item pl-1" href="#">Квест 02</a></li>
    <li><a class="dropdown-item pl-1" href="#">Квест 03</a></li>
    <li><a class="dropdown-item pl-1" href="#">Квест 04</a></li>
    <li><a class="dropdown-item pl-1" href="#">Квест 05</a></li>
    <li><small><a href="" class="dropdown-item pl-1 text-center bg-light dropdown-arrow">&#x25BC;</a></small></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item pl-1" href="" data-backdrop="false" data-toggle="modal" data-target="#profileModal">Открыть профиль</a></li>
</ul>